/* Tuned style for carousel captions*/
.carousel-caption h3 {
    font-family: Garamond;
    font-weight: bold;
    font-size: 3em;
    color: black;
}
/* Description text of carousel-caption*/
.carousel-caption p {
    font-family: Garamond;
    font-weight: bold;
    font-size: 2em;
    color: black
}

/* Divider fot footer */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Dimensions of social network icon */
.icon-social-network {
    width: 20px;
    height: 20px;
}

/* Jumbotron in about us */
.jumbotron-home{
    height: 300px;
}

/* JUmbotron in blog */
.jumbotron-blog{
    height: 300px;
}

/* Text feature in blog */
.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  width: 900px;
  text-overflow: ellipsis;
}

/*Style for comments */
.comment{
    border: 1px solid black;
    margin: auto;
    padding: 20px;
}

/* Icon color */
.glyphicon{
    color: white;
}

/* Video Gallery */
.video_gallery{
    width: 200px;
    height: 200px
}
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}
/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
/* profile menu */
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}
/* end profile menu */

.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
	color:#fff;
	opacity:1;
	text-shadow:0 1px 3px rgba(0,0,0,.8);
}
@media (min-width:320px) and (max-width: 480px) {
    .video-list-thumbs .glyphicon-play-circle {
        font-size: 35px;
        right: 36%;
        top: 27%;
    }

    .video-list-thumbs h2 {
        bottom: 0;
        font-size: 12px;
        height: 22px;
        margin: 8px 0 0;
    }
}