/* Tuned style for carousel captions*/
.carousel-caption h3 {
    font-family: Garamond;
    font-weight: bold;
    font-size: 3em;
    color: black;
}
/* Description text of carousel-caption*/
.carousel-caption p {
    font-family: Garamond;
    font-weight: bold;
    font-size: 2em;
    color: black
}

/* Divider fot footer */
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Dimensions of social network icon */
.icon-social-network {
    width: 20px;
    height: 20px;
}


/* JUmbotron in blog */
.jumbotron-blog{
    height: 300px;
}

/* Text feature in blog */
.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  width: 900px;
  text-overflow: ellipsis;
}

/*Style for comments */
.comment{
    border: 1px solid black;
    margin: auto;
    padding: 20px;
}

/* Icon color */
.glyphicon{
    color: white;
}

/* Icon color in about */
.glyphicon-heart, .glyphicon-globe, .glyphicon-lock, .glyphicon-euro, .glyphicon-briefcase, .glyphicon-random, .glyphicon-leaf{
  color: black;
}

/* Icon in contest */
.glyphicon-thumbs-up{
  color: black;
}

/* Contest h3 in profiles */
.contest-title-profile{
  left: 50%;
}

.glyphicon-thumbs-down{
  color: black;
  margin-left: 10px;
}

/* footer */
.footer-bs {
    background-color: black;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

/* Video Gallery */

.video-right {
    font-size: 1.2em;
    margin-top:10%;
    margin-bottom:10%;
}
.video-left {

    margin-top: 10%;
    margin-bottom:10%;

}
.video-text{
  margin-left: 200px;
}



/* profile */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

* {
  box-sizing: border-box;
  -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
  transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), color 0.3s ease;
}
.rela-block {
  display: block;
  position: relative;
  margin: 30px 0px;
}
.rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
}
.floated {
  display: inline-block;
  position: relative;
  margin: false;
  float: left;
}
.floated.right {
    float: right;
}

.post-image {
  height: 100%;
  max-height: 400px;
  width: 480px;
  border: 20px solid #fff;
  box-shadow: 0 4px 8px -2px rgba(0,0,0,0.25);
  background-size: cover !important;
  cursor: pointer;
}
.desc-title {
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 5px;
}
.desc-author {
  font-family: "Montserrat";
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 24px;
  color: #999;
  margin-bottom: 10px;
}
.close {
  z-index: 100;
  display: false;
  position: absolute;
  margin: false;
  top: 10px;
  left: ;
  right: 15px;
  bottom: ;
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
  color: #444;
  padding: 5px;
}
.logo {
  font-family: "Yellowtail";
  font-size: 34px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 70px;
  margin: 0 30px;
  cursor: pointer;
}
.logo:hover {
  color: #2ebaae;
}
.search-container {
  padding-right: 15px;
  margin-left: 0px;
}
.sign-div {
  margin: 0px;
  width: 180px;
  -webkit-transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.15s 0.3s cubic-bezier(0.75, 0, 0.2, 1);
  transition: 0.3s cubic-bezier(0.75, 0, 0.2, 1), opacity 0.15s 0.3s cubic-bezier(0.75, 0, 0.2, 1);
}
.sign-div li {
  padding: 0 0 0 20px;
}
.sign-div.active {
  width: 0px;
  opacity: 0;
  -webkit-transition: 0.15s cubic-bezier(0.75, 0, 0.2, 1), width 0.3s 0.15s cubic-bezier(0.75, 0, 0.2, 1);
  transition: 0.15s cubic-bezier(0.75, 0, 0.2, 1), width 0.3s 0.15s cubic-bezier(0.75, 0, 0.2, 1);
}
.icon {
  height: 40px;
  width: 40px;
  margin: 0 6px;
  vertical-align: middle;
  cursor: pointer;
  background-size: 30px !important;
}

.profile-card {
  width: calc(100% - 40px);
  padding-top: 100px;
  margin: 70px auto 30px;
  background-color: #fff;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
}
.profile-pic {
  display: false;
  position: absolute;
  margin: false;
  top: -90px;
  left: 50%;
  right: false;
  bottom: false;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 180px;
  width: 180px;
  border: 10px solid #fff;
  border-radius: 100%;
  background-size: cover;
}
.profile-name-container {
  margin: 0 auto 10px;
  padding: 10px;
  text-align: center;
}
.user-name {
  font-family: "Montserrat";
  font-size: 24px;
  letter-spacing: 3px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 12px;
}
.user-desc {
  letter-spacing: 1px;
  color: #999;
}
.profile-card-stats {
  height: 75px;
  padding: 10px 0px;
  text-align: center;
  overflow: hidden;
}
.profile-stat {
  height: 100%;
  width: 33.3333%;
}
.profile-stat:after {
  color: #999;
}
.works::after {
  content: "Works";
}
.contests::after {
  content: "Contests";
}
.wip::after {
  content: "Wip";
}
.image {
  width: 240px;
  height: 200px;
  cursor: pointer;
  margin: 0 50px 10px;
  overflow: hidden;
  border-radius: 5px;
  border: 10px solid #fff;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.26);
  background-color: rgba(0,0,0,0.4);
  background-size: cover !important;
  -webkit-transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
  transition: 0.2s cubic-bezier(0.5, 0, 0.2, 1);
}
.image:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  box-shadow: 0 2px 18px -2px rgba(0,0,0,0.3);
}
.image.hidden {
  height: 0;
  width: 0px;
  margin: 0px;
  border: 0px solid #fff;
}
.button {
  font-family: 'Montserrat';
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 900;
  line-height: 20px;
  min-width: 200px;
  padding: 20px 40px;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #bbb;
  margin: 0 20px;
}
.button:hover {
  color: #2ebaae;
  border: 1px solid #2ebaae;
}
.button.inactive {
  color: #bbb;
  cursor: default;
}
.button.inactive:hover {
  color: #bbb;
  border: 1px solid #bbb;
}
.form-group.required .control-label:after {
   content:"*";
   color:red;
}

/* job */
.display-flex {
  display: inline-flex;
  flex-wrap: wrap;
}
.display-inline-grid {
  display: inline-grid;
}
.webkit-box {
  display: -webkit-box;
}
.border-left {
  border-left: 1px solid #000;
}
h3 {
  color: #2a2c36 !important;
  margin: 0rem;
}
.text-bold {
  font-weight: 600;
  color: #2a2c36;
}
.padding-left-1 {
  padding-left: 1rem;
}
.padding-right-1 {
  padding-right: 1rem;
}
.padding-top-1 {
  padding-top: 1rem;
}
.padding-bottom-1 {
  padding-bottom: 1rem;
}
.padding-1 {
  padding: 1rem;
}
.padding-2 {
  padding: 2rem;
}
.padding-top-2 {
  padding-top: 2rem;
}
.padding-bottom-2 {
  padding-bottom: 2rem;
}
.no-paddings {
  padding: 0rem !important;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-bottom-0 {
  margin-bottom: 0rem;
}
.p-l-0 {
  padding-left: 0rem;
}
.box-shadow {
  box-shadow: 4px 4px 10px #ddd;
}
.background-white {
  background: #FFF;
}
.main-card .white-card {
  background-color: #fff;
  border: 1px solid #d1d4d7;
}
.main-card .status .status-id {
  padding: 2rem 0.6rem;
}
.main-card .status .status-text {
  padding-left: 2rem;
}
.main-card .status .status-text h4 {
  font-weight: 800;
  color: #FFFFFF;
}
.main-card .status p {
  font-weight: 700;
  color: #FFF;
}
.main-card .status h2 {
  font-weight: 700;
  margin: 0rem;
  line-height: 2.7rem;
}
.status.en-proceso {
  background: #4dbd74;
}
.status.en-proceso .status-text {
  background: #41ac66;
}
.status.en-proceso h2 {
  color: #3e975d;
}
.status.prealertado {
  background: #ff9100;
}
.status.prealertado .status-text {
  background: #ff6d00;
}
.status.prealertado h2 {
  color: #e65100;
}
/*************/

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}



.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}



.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 500;
}
.retroshd {
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
.retroshd:hover {
    text-decoration: none;
}

.about-section {
    padding: 0em;
    background-color:#f5edff;

}
h3.about-titles {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 1.3em;
    position: relative;

}
h3.about-titles:before, h3.about-titles:after {
    content: " ";
    background: #490382;
    position: absolute;
    width: 18%;
    height: 1px;
}
h3.about-titles:after {
    right: 41%;
    top: 102%;
}
.about-right h3 {
    font-size: 3em;
    letter-spacing: 1px;
    color: #490382;
}
.about-right p {
    font-size: 1.2em;
    border-left: 7px solid #000;
    padding: 1em 1em 1em 2em;
    margin: 2em 0 0;
}
.about-left img {
    width: 80%;
    margin-top: 10%;
}
.benefit-right img {
    width: 100%;
}
.icon {
    color : white;
    padding:15px;
    font-size:30px;
}
.benefit-section {
    background-color:#4f003d;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.benefit-section {
    padding: 5em 0;
}

h3.site-titles {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 1.3em;
    position: relative;
    color: #fff;
}
h3.site-titles:before, h3.site-titles:after {
    content: " ";
    background: #ededed;
    position: absolute;
    width: 16%;
    height: 1px;
}

h3.site-titles:after {
    right: 42%;
    top: 102%;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.pixi_two_grid_right_gridr h4 {
    font-size: 1.5em;
    color: #ededed;
}
.pixi_two_grid_right_gridr p {
    color: #dedede;
    line-height: 2em;
}
.pixi_two_grid_right_grid1 {
    width: 65px;
    height: 65px;
    text-align: center;
    border: 1px solid #fff;
}
p.site_para {
    font-size: 2em;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
}

/*tags*/
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
/*long text*/
div.text{
    white-space:nowrap;
    overflow:hidden;
    width:100px;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
/*scrolling text*/
.blue-btn{

  position:absolute;
  top:40%;
}
.blue-btn a{
  color: black;
  text-decoration:none;
  margin-top: 0em;
  text-align: center;
  display:inline-block; /* important */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blue-btn, .first-link{
  -webkit-transition: all 4.3s;
  -moz-transition: all 4.3s;
  transition: all 4.3s;

  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: linear;
}


.blue-btn{
  height: 64px;
  overflow: hidden;
  width: 100px;
  background-color: white;
}

.blue-btn:hover{
   background-color: white;
}

.blue-btn a:hover{
  text-decoration: none;
}

.first-link{
  margin-left: 0em;
}

.blue-btn:hover .first-link{
  margin-left: -300px;
}

/*video slider*/


.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
#lab_video_text_overlay {
    position: absolute;
    color: #FFF;
    width: 100%;
    top: 25%;
}
#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
}
#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
    background-color: transparent;
}

#lab_video_text_overlay h2 {
  font-size:4em
}

#lab_video_text_overlay .btn {
  border-radius:0;
  text-transform:uppercase;
  font-weight:200;
}
#lab_video_text_overlay .btn-warning {
  background-color:#F5D328;
}

#lab_video_text_overlay .container {
    text-align: center;
    margin: 0px auto;
}
#lab_video_text_overlay h2 {
    font-size: 4em;
}
#lab_video_text_overlay .btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 200;
}
#lab_video_text_overlay .btn-warning {
    background-color: #F5D328;
}
#lab_video_text_overlay {
    position: absolute;
    color: #FFF;
    width: 100%;
    top: 25%;
    z-index:99;
}






@media screen and (max-width:991px) {
  #lab_video_text_wrap {
    height: 300px;
  }
}

@media screen and (max-width:650px) {
  #lab_video_text_wrap {
    height: 250px;
  }
  #lab_video_text_overlay h2 {
    font-size: 2em;
  }
  #lab_video_text_overlay p {
    font-size: .9em;
  }
}



