
<!-- Jumbotron session -->
<div class="jumbotron">
     <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#who">WHO</a></li>
            <li><a href="#what">WHAT</a></li>
            <li><a href="#services">SERVICES</a></li>
          </ul>
     </div>
</div>

<!-- Who session -->
<div class="container-fluid bg-1 text-center">
  <h1 id="who" class="margin">Who?</h1>
    <img src="" class="img-responsive img-circle margin" style="display:inline" alt="LOGO" width="350" height="350">


    <h2>ShArt</h2>

    <p> SHART is an online artwork, videography and photography community. The website was launched on January, 2018. Artworks are organized in a category structure
        along with downloadable resources such as tutorials and stock photography.
    </p>
    <p> Users are required to be organized into categories when a member uploads an image and this allows Shart's
      search engine to find images concerning similar topics.
      You can look at your personal account, write you bio and add your project.
      Individual members can organize their own works into folders on their personal pages.
    </p>
    <p> The profiles show a member's personally uploaded works and journal postings.
      Journals are like personal blogs for the member pages,
      and the choice of topic is up to each member.
      Also displayed are a member's "favorites", a collection of other users' images from Shart that a member saves to its own folder.
      In order to communicate on a more private level, "Notes" can be sent between individual members,
      like an email within the site.The other opportunities for communication between members are Shart's forums,
      for more structured, long-term discussions, and chatrooms, for group instant messaging.
    </p>

</div>

<!-- What session -->
<div class="container-fluid text-center w3-white" style="padding: 60px;background-color:#f6f6f6;align: center;">
 <h1 id="what" class="margin">What?</h1>

    <p><strong>MISSION:</strong> </p>
        <p>We want to give you the possibility to collaborate with people that don't live in your same city: for us distance is not a problem anymore.</p>

    <p><strong>VISION:</strong> </p>
        <p>We are trying to imagine a world full of artists that want to create something new everyday, and, especially, everywhere. Art reflects our mind, our way of being: how could we live without it?</p>
</div>


<!-- Service session-->
<div class="container-fluid text-center w3-white" style="padding:60px">
  <h1 id="services">Services</h1>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-picture"></span>
      <h4>ART</h4>
      <p>Our aim is to spread art</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h4>PASSION</h4>
      <p>Our users are linked by the same passion</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-euro"></span>
      <h4>JOB DONE</h4>
      <p>You can look for a good job position</p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user"></span>
      <h4>COLLABORATIONS</h4>
      <p>Find your best team</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock"></span>
      <h4>RELIABILITY</h4>
      <p>Our shared folders are safe</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench"></span>
      <h4>HARD WORK</h4>
      <p>The more you work hard, the more you get</p>
    </div>
  </div>
</div>






