<hr class="featurette-divider">

<footer>
    <p class="pull-right">Visit us on <a href="https://www.facebook.com" target="_blank"><img class="icon-social-network" src="https://image.flaticon.com/icons/png/512/124/124010.png"></a>
        &middot; <a href="https://www.twitter.com" target="_blank"><img class="icon-social-network" src="https://cdn4.iconfinder.com/data/icons/flat-brand-logo-2/512/twitter-128.png"></a>
        &middot; <a href="https://www.istagram.com" target="_blank"><img class="icon-social-network" src="http://pngimg.com/uploads/instagram/instagram_PNG11.png"></a></p>
    <p>&copy; 2017 Shart, Inc. &middot; <a href="/about">About us</a> &middot; <a href="/terms">Terms</a></p>
</footer>