<div class="container marketing">

  <div class="row">

    <!-- Artists section -->
    <div class="col-lg-4">
      <img class="irc_mi" src="{{url_for('static', filename='images/artist_marketing.jpg')}}" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" style="margin-top: 69px;" alt="Risultati immagini per utenti" width="256" height="256">
      <h2>Artists</h2>
      <p>Art is everywhere so that we couldn't imagine our life without it. That's why we thought about creating a site for artists. We made a step forward thinking about collaborations through people that don't live in the same city: how the distance can be a problem? With shart it's not a problem anymore! It doesn't matter where are you from or where do you live: just create your team and share your projects with us.</p>
    </div>

    <!-- Galleries' owner section -->
    <div class="col-lg-4">
      <img class="irc_mi" src="{{url_for('static', filename='images/gallery_marketing.jpg')}}" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" style="margin-top: 69px;" alt="Risultati immagini per utenti" width="256" height="256">
      <h2>Galleries owners</h2>
      <p>What about galleries owners? In our Shart there's also a place for them! We let you have the possibility to post a job and look for what is the best for you. You can also look at all the projects published in our galleries, comment them and contact the artist if you are interested to him. Just join us: you will find what are you looking for.</p>
    </div>

    <!-- Visitor section -->
    <div class="col-lg-4">
      <img class="irc_mi" src="{{url_for('static', filename='images/visitor_marketing.jpg')}}" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" style="margin-top: 69px;" alt="Risultati immagini per utenti" width="256" height="256">
      <h2>Visitors</h2>
      <p>We can describe our network with three words: simple,clear and free. That's why we want everybody in! Our aim is to spread the art and make connection through people with it. You can watch our site and, if you get interested into it, just login: you're welcome in our community!</p>
    </div>

  </div>
</div>