{% extends 'layout.html' %}
{% block body %}

<h1>About Us</h1>
  <p> SHART is an online artwork, videography and photography community. The website was launched on January, 2018. Artworks are organized in a category structure
      along with downloadable resources such as tutorials and stock photography.
  </p>
    <p> Users are required to be organized into categories when a member uploads an image and this allows Shart's
      search engine to find images concerning similar topics.
      You can look at your personal account, write you bio and add your project.
      Individual members can organize their own works into folders on their personal pages.
   </p>
  <p> The profiles show a member's personally uploaded works and journal postings.
      Journals are like personal blogs for the member pages,
      and the choice of topic is up to each member.
      Also displayed are a member's "favorites", a collection of other users' images from Shart that a member saves to its own folder.
      In order to communicate on a more private level, "Notes" can be sent between individual members,
      like an email within the site.The other opportunities for communication between members are Shart's forums,
      for more structured, long-term discussions, and chatrooms, for group instant messaging.
  </p>

{% endblock %}