{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron-blog">
        <img src="http://media-s3.blogosfere.it/iab/images/blog%202014_00100.jpg" alt="blog image" style="width: 1200px;height: 300px;align: center;">
    </div>
    {% for article in articles %}
        <div>
            <a href="article/{{article.title}}"><h2>{{article.title}}</h2></a>
            <p style="font-style: italic; font-size: small">Created by {{article.author}} on {{article.date}}</p>
            <div class="overflow-ellipsis">
                {{article.body | safe}}
            </div>

            <a href="editarticle.html/{{article.title}}" class="btn btn-primary pull-right">Edit</class></a>
            <a href="/delete_article/{{article.title}}" class="btn btn-primary pull-right">Delete</a>

        </div>

    {% endfor %}

{% endblock %}