{% extends 'layout.html' %}

{% block body %}

   <div class="jumbotron-blog">
        <img src="{{url_for('static', filename='images/contest.jpg')}}" alt="blog image" style="width: 1150px;height: 300px;align: center;">
    </div>
    {% for contest in contests | sort%}
        <div>
            <a href="contest/{{contest.title}}"><h2>{{contest.title}}</h2></a>
            <p>Contest for {{contest.type}}</p>
            <p>Enroll Deadline: <strong>{{contest.enroll_deadline}}</strong>; Presentation Deadline: <strong>{{contest.presentation_deadline}}</strong></p>
            <div class="overflow-ellipsis">
                {{contest.body | safe}}
            </div>
            <p style="font-style: italic; font-size: small">Created by <a href="/profile/{{contest.author}}">{{contest.author}}</a></p>
                <div class="pull-right">
                    {% if contest.enroll_deadline >= today %}
                        {% if session.logged_in %}
                        {% if session.username not in contest.competitors %}
                            {% if session.adm  %}
                            {% else %}
                            <a href="/join_contest/{{contest.title}}" class="btn btn-primary">Join Contest</a>
                                {% endif %}
                        {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if session.adm %}
                    <a href="edit_contest/{{contest.title}}" class="btn btn-warning">Edit</a>
                    <a href="/delete_contest/{{contest.title}}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
        </div>
    {% endfor %}

{% endblock %}