{% extends 'layout.html' %}

{% block body %}
    {% if files|length > 0 and project.author == session.username %}
    <form method="POST" action="">
    <table class="table table-striped" id="table">
    <thead>
      <tr>
        <th>Selection</th>
        <th>File</th>
        <th>Author</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <td><input type="radio" name="image_radio" value="{{file.file_name}}"
    {% if flag == 1 %} checked="checked" {% endif %}> </input></td>
    <td>{{file.file_name}}</td>
    <td>{{file.user}}</td>
    <td>{{file.description}}</td>
    <td>{{file.date}}</td>
        <td>
      </tr>

    {% set flag = flag + 1 %}
    {% endfor %}
    </tbody>
    </table>
    <input type="submit" value="Complete">
    </form>
    {% endif %}
{% endblock %}