{% extends 'layout.html' %}

{% block body %}
     <div class="jumbotron-blog">
        <img src="{{url_for('static', filename='images/team.jpg')}}" alt="blog image" style="width: 1150px;height: 300px;align: center;">
    </div>
    {% for project in projects %}
        <div>
            <a href="/image_project/{{project.title}}"><h2>{{project.title}}</h2></a>
            <p style="font-style: italic; font-size: small">Idea by <a href="/profile/{{project.author}}">{{project.author}}</a></p>
            <div class="overflow-ellipsis">
                {{project.description}}
            </div>

        </div>

    {% endfor %}

{% endblock %}