{% extends 'layout.html' %}

{% block body %}
    <h1>{{contest.title}}</h1>
    <h3>Contest for {{contest.type}}</h3>
    <br>
    {% if contest.winner != "" %}
    <h4><span class="glyphicon glyphicon-star"></span> winner of the contest is {{ contest.winner }} <span class="glyphicon glyphicon-star"></span></h4>
    {% else %}
    <p>Enroll Deadline: <strong>{{contest.enroll_deadline}}</strong>; Presentation Deadline: <strong>{{contest.presentation_deadline}}</strong></p>
    {% endif %}
    <hr>
    <div>
        {{contest.body | safe}}
    </div>


    <p style="font-style: italic; font-size: small">Created by <a href="/profile/{{contest.author}}">{{contest.author}}</a></p>
    {% if session.logged_in %}

    {% if session.username not in contest.competitors and contest.enroll_deadline >= today  %}

        {% if session.adm  %}
            {% else %}
        <a href="/join_contest/{{contest.title}}" class="btn btn-primary">Join Contest</a>

        {% endif %}
    {% endif %}
    {% if session.username in contest.competitors and not_allowed_to_upload == false %}
    <a href="/upload_project_contest/{{contest.title}}" class="btn btn-primary">Upload Project in Contest</a>
    {% endif %}
    <p></p>
    <div class="rela-block content">
    {% for file in files %}
            <div class="rela-inline">
                <a href="/image_contest/{{ contest.title }}/{{ file.file_name }}"><img class="image" src="{{ url_for('image_contest', title=contest.title, file_name=file.file_name)}}" height="180px" width="240px"></a>
                <p></p>
                {% set list1 = file.file_name.split('.') %}

                <p style="text-align: center">Project by <a href="/profile/{{list1[0]}}"> {{list1[0]}}</a></p>
                <p style="text-align: center">
                    <strong>{{file.like | int}}</strong> Like  <strong>{{file.unlike | int}}</strong> Unlike
                </p>
                <p style="text-align: center">
                    <a href="/contest/{{contest.title}}/{{file.file_name}}/like">

                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </a>
                    <a href="/contest/{{contest.title}}/{{file.file_name}}/unlike">
                         <span class="glyphicon glyphicon-thumbs-down"></span>
                    </a>
                </p>

            </div>
    {% endfor %}
    </div>
    {% if comments|length > 0 %}
    <h3>Comments: </h3>
    <ul class="list-group">
    {% for comment in comments %}
        <li class="list-group-item">
            <p style="font-style: italic; font-size: small">{{comment.author}} on {{comment.date}}</p>
                <div>
                    {{comment.body}}
                </div>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    <hr>
    <div>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.comment_body, class="form-control") }}
        </div>
        <p><input class="btn btn-primary" type="submit" value="Summit your Comment"></p>
    </form>
    </div>
    {% endif %}
{% endblock %}