{% extends 'layout.html' %}

{% block body %}
    <h1>{{contest.title}}</h1>
    <h3>Contest for {{contest.type}}</h3>
    <p>Enroll Deadline: <strong>{{contest.enroll_deadline}}</strong>; Presentation Deadline: <strong>{{contest.presentation_deadline}}</strong></p>
    <hr>
    <div>
        {{contest.body | safe}}
    </div>
    <p style="font-style: italic; font-size: small">Created by {{contest.author}}</p>
    {% if session.logged_in %}

    {% if session.username not in contest.competitors %}
    <a href="/join_contest/{{contest.title}}" class="btn btn-primary">Join Contest</a>
    {% endif %}
    {% if session.username in contest.competitors and not_allow_to_upload == false %}
    <a href="/upload_project_contest/{{contest.title}}" class="btn btn-primary">Upload Project in Contest</a>
    {% endif %}
    <p></p>
    <div class="rela-block content">
    {% for file in files_in_contest_directory %}
            <div class="rela-inline">
                <img class="image" src="{{ url_for('image_contest', title=contest.title, file_name=file)}}" height="180px" width="240px">
                <p></p>
                <p style="text-align: center">Project by <a href="/image_contest/{{contest.title}}/{{file}}">{{file}}</a></p>
            </div>
    {% endfor %}
    </div>
    {% if comments|length > 0 %}
    <h3>Comments: </h3>
    <ul class="list-group">
    {% for comment in comments %}
        <li class="list-group-item">
            <p style="font-style: italic; font-size: small">{{comment.author}} on {{comment.date}}</p>
                <div>
                    {{comment.body}}
                </div>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    <hr>
    <div>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.comment_body, class="form-control") }}
        </div>
        <p><input class="btn btn-primary" type="submit" value="Summit your Comment"></p>
    </form>
    </div>
    {% endif %}
{% endblock %}