{% extends 'layout.html' %}

{% block body %}
    <h1  class="retroshd"> JOB LIST </h1>
    <h4> you can click on the author's name to contact him for further information </h4>
    {% for job in jobs %}

<div class="container">
    <div class="row padding-top-1">
        <div class="col-sm-12 col-md-6 col-lg-12 main-card no-paddings display-flex">
            <div class="col-sm-12 col-md-2 col-lg-2 background-green status prealertado">
                <div class="row status-text">
                    <h4>{{ job.title }}</h4>
                </div>
                <div class="status-id">
                    <p><strong>{{ job.location }}</strong></p>

                </div>
            </div>
             <div class="col-sm-12 col-md-9 white-card box-shadow display-flex">



                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid" style="background: #fafafa;">
                    <div><p class="text-bold margin-bottom-0">Job Type</p>
                    <p class="margin-bottom-0">{{ job.job_type }}</p></div>

                </div>
                <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid">
                    <div class="col-md-12 no-paddings">
                        <div class="col-md-6 no-paddings">
                        <p class="text-bold margin-bottom-0">Company Name</p>
                        <p class="margin-bottom-0">{{ job.company_name }}</p>
                        </div>
                        <div class="col-md-6 no-paddings">
                        <p class="text-bold margin-bottom-0">Description</p>
                          <div class="text"> <p class="margin-bottom-0">{{ job.description }}</p></div>
                            <div class="blue-btn">

                                <a class="first-link" href=""><p class="margin-bottom-0">{{ job.description }}</p></a>

                            </div>
                        </div>

                    </div>
                </div>
                 <div class="col-sm-12 col-md-3 padding-top-2 padding-bottom-2 display-inline-grid">
                    <div class="col-md-12 no-paddings">

                        <div class="col-md-6 no-paddings">
                        <p class="text-bold margin-bottom-0">Author</p>
                            <p class="margin-bottom-0"><a href="/profile/{{job.author}}">{{ job.author }}</a></p>
                        </div>

                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
    {% endfor %}

{% endblock %}