{% extends 'layout.html' %}

{% block body %}
    <div>
        {% from "includes/_formhelpers.html" import render_field %}
        <h2>{{project.title}}</h2>
        <p style="font-style: italic; font-size: small">Idea by {{project.author}}</p>
        <div class="overflow-ellipsis">
            {{project.description}}
        </div>
        <p></p>
        {% if project.collaborators|length < project.max_number and session.username == project.author %}
        <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.appliers, class="form-control") }}
            <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Select Collaborators">
        </div>
        </div>
        </form>
        {% endif %}
    </div>

{% endblock %}
