{% extends 'layout.html' %}

{% block body %}
    <div>
        {% from "includes/_formhelpers.html" import render_field %}
        <h2>{{project.title}}</h2>
        <p style="font-style: italic; font-size: small">Idea by <a href="/profile/{{project.author}}">{{project.author}}</a></p>
        <div class="overflow-ellipsis">
            {{project.description}}
        </div>
        <p></p>
        {% if project.collaborators|length < project.max_number and session.username == project.author %}
        <form method="POST" action="">
        <div class="form-group">
            {{ render_field(form.appliers, class="form-control") }}
            <div class="pull-right">
            <input type="submit" class="btn btn-primary" value="Select Collaborators">
        </div>
        </div>
        </form>
        {% endif %}
        {% if session.username != project.author and session.artist and project.collaborators|length < project.max_number and session.username not in project.appliers %}
        <div class="pull-right">
            <a href="/join_project/{{project.title}}" class="btn btn-primary">Apply</a>
        </div>
        {% elif session.username in project.appliers%}
        <p class="pull-right">Already applied for this project</p>
        {% endif %}
    </div>
    {% if (session.username in project.collaborators or session.username == project.author) and project.status == 'WIP' %}
    {% if files|length > 0 %}
    <br>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>File</th>
        <th>Author</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    {% for file in files %}
      <tr>
          <td><a href="/projects/{{project.title}}/{{file.file_name}}">{{file.file_name}}</a></td>
        <td>{{file.user}}</td>
        <td>{{file.description}}</td>
        <td>{{file.date}}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <br>
    <p><a href="/projects/{{project.title}}/upload_file_project" class="btn btn-primary">Page to Upload Files</a></p>
    {% endif %}
{% endblock %}
