{% extends 'layout.html' %}

{% block body %}
    <h1> Upload new video</h1>
    <form method="POST" enctype="multipart/form-data">

        <label>Save as</label>
        <p><input type="text" name="video_name" class="form-control"></p>
        <label>Description</label>
        <p><input type="text" name="description" class="form-control"></p>

        <p><input type="file" name="file" class="btn btn-primary"></p>
        <p><input type="submit" value="upload" class="btn btn-primary"></p>
    </form>
{% endblock %}