{% extends 'layout.html' %}

{% block body %}

{% if not session.logged_in %}

<p>If you want to check out our exclusive videos, please <a href="/register">register</a> in our website as an artist.
<br>If you already have an artist account, <a href="/login">login</a> </p>

{% endif %}
            {% for video in videos %}

<div class="about-section">
		<div class="container-fluid bg-1 text-center">

			<div class="col-sm-6 video-left">
            <iframe class="iframe-video" width="420" height="315" src="{{video.url_video}}" frameborder="0" allowfullscreen></iframe>

            </div>

			<div class="col-sm-6 video-right">

				 {{ video.description }}

			</div>
		</div>
    <hr>
	</div>

            {% endfor %}

{% endblock %}